[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "==1.19.5"
tensorflow = "==2.5.0"
tensorflow-model-optimization = "==0.6.0"
wave = "*"
pyaudio = "*"
matplotlib = "*"
matplotlib-inline = "*"
python-speech-features = "*"
scipy = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3"
